<ion-view view-title="SADDLEBACK RESORT" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/reservation" class="item item-icon-left">
        <i class="icon ion-document-text"></i> See your reservation
      </a>
      <a href="#/weather" class="item item-icon-left">
        <i class="icon ion-ios-partlysunny"></i> Current weather
      </a>
      <a href="#/restaurants" class="item item-icon-left">
        <i class="icon ion-fork"></i> Nearby restaurants
      </a>
      <a href="#/directions" class="item item-icon-left">
        <i class="icon ion-compass"></i> Directions to Saddlebrook Resort in Tampa are below
      </a>
      
      <p>  From Tampa International Airport:
I-275 North to I-75
I-75 North to State Road 54 / Exit 279
Turn right onto State Road 54 (East)
Saddlebrook is on the right about 1 mile from I-75/SR54 interchange<br>
<br>
From Orlando:
I-4 West to I-75 North
I-75 North to State Road 54 / Exit 279
Turn right onto State Road 54 (East)
Saddlebrook is on the right about 1 mile from I-75/SR54 interchange<br>
<br>
From Miami:
I-75 North to State Road 54 / Exit 279
Turn right onto State Road 54 (East)
Saddlebrook is on the right about 1 mile from I-75/SR54 interchange<br>
<br>
From Tallahassee:
I-10 East to I-75 South
I-75 South to State Road 54 / Exit 279
Turn left onto State Road 54 (East)
Saddlebrook is on the right about 1 mile from I-75/SR54 interchange</p>
      
    </div>
  </ion-content>
</ion-view>
